<div class="jumbotron">
  <h1>Kirkman Requisition Tracker</h1>
  <p>
  <p>
  <p>Requisition tracker is a tool made by Mike Lindsay to help staff and management keep better track of requisitions.
    Currently there is no central repository for REQ's, so they end up with whoever had the REQ last. When staff are tasked
    with displaying historical REQ status, it is difficult at best. Requisition tracker will allow us to keep track of REQ's
    by displaying their approval status,
    keyword tagging, department logging, etc..</p>
  <p>
  <p>Mike's personal github page can be found <%= link_to "here", "https://github.com/lindsm" %>.</p>
</div>
